@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #ffe0e3; */
  /* background-image: url("/deloreanbg.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}

@keyframes title {
}

a {
  color: #155e75;
  /* text-decoration-line: underline; */
  font-weight: bold;
}
